.venv/
.idea/
__pycache__/
.env
.github
.DS_store
neo-chatbot-f0fff-service_account_keys.json
neo-chatbot-firebase.json
oauth2-credentials.json
.vscode/launch.json
chat-automation-serviceaccount.json
.coverage
oauth2-credentials-production.json

env
env.development
env.production
oauth2-credentials-debug.json
chat-automation-firebase.json
firebase-serviceaccount.json
firebase.json
